{% load static %}

<!-- Footer -->
<section>

<footer id="contact">
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage text-center">
                        <h2>Contact Us</h2>
                     </div>
                     <div class="cont text-center">
                        <h3>Felicity Real Estate</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                     </div>
                  </div>
                  </div>
                  </div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <p>Copyright 2021 All Right Reserved By <a href="">Felicity Real Estate</a></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</footer>
</section>