{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Home{% endblock title %}

{% block heading %}

<h1>WELCOME TO Felicity Real Estate!!!</h1>
<span>Property Searching Just Got So easy</span>
<a href="{% url 'about' %}">Read More</a>

{% endblock heading %}

{% block content %}

<!-- Search Form -->
<!-- form_lebal -->
      <section>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <form class="form_book" action="{% url 'search' %}">
                     <div class="row ">
                        <div class="col-md-4 mb-2">
                           <label class="date">KEYWORDS</label>
                           <input class="book_n" placeholder="Keyword (Pool, Garage, etc)" type="text" name="keywords">
                        </div>
                        <div class="col-md-4">
                           <label class="date">CITY</label>
                           <input class="book_n" placeholder="City" type="text" name="city">
                        </div>
                        <div class="col-md-4">
                           <label class="date">STATE</label>
                           <select class=" book_n" name="state">
                              <option selected disabled>State (All)</option>
                              {% for key,value in state_choices.items %}
                                 <option value="{{ key }}">{{ value }}</option>
                              {% endfor %}
                           </select>
                        </div>
                         
                       
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <label class="date">BEDROOMS</label>
                           <select  class=" book_n" name="bedrooms">
                              <option selected disabled>No. of Bedrooms</option>
                              {% for key,value in bedroom_choices.items %}
                                 <option value="{{ key }}">{{ value }}</option>
                              {% endfor %}
                           </select>
                        </div>
                        <div class="col-md-4">
                           <label class="date">MAX PRICE</label>
                           <select  class=" book_n" name="price">
                              <option selected disabled>Max Price(Any)</option>
                              {% for key,value in price_choices.items %}
                                 <option value="{{ key }}">{{ value }}</option>
                              {% endfor %}
                           </select>
                        </div>
                        <div class="col-md-4">
                           <button class="book_btn" name="submit">Book Now</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <!-- end form_lebal -->

{% endblock content %}